#sidenav h2 {
    font-size:21px;
    padding-left:16px;
    margin:-4px 0 4px 0;
    width:204px;
    }
    #sidenav a {font-family:"Segoe UI",Arial,sans-serif;text-decoration:none;display:block;padding:2px 1px 1px 16px}
    #sidenav a:hover,#sidenav a:focus {color:#000000;background-color:#cccccc;}
    #sidenav a.active {background-color:#04AA6D;color:#ffffff;}
    #sidenav a.activesub:link,#sidenav a.activesub:visited {background-color:#ddd;color:#000;}
    #sidenav a.activesub:hover,#sidenav a.activesub:active {background-color:#ccc;color:#000;}
    #leftmenuinner {
    position:fixed;
    top:0;
    padding-top:10px;
    padding-bottom:0;    
    height:100%;
    width:220px;
    background-color:transparent;
    }
    #leftmenuinnerinner {
    height:100%;
    width:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-top:20px;
    }
    #content {
        position:fixed;
        top:0;
        left: 240px;
        padding-top:10px;
        padding-bottom:0;    
        height:100%;
        width:80%;
        overflow-y:scroll;
        overflow-x:hidden;
        background-color:transparent;
        }